body{
    margin:0;
}

.atm img{
    width: 100%;
    height: 100%;
}


.atm{
    position: relative;
}

.scr1{
    position: absolute;
    top: 26%;
    left: 38%;
    padding: 20px;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}


@media screen and (min-width: 1025px) {
    .scr1{
    top: 22%;
    left: 34%;
    font-size: x-large;
    }
}


@media screen and (min-width: 801px) and (max-width: 1024px) {
    .scr1{
    top: 22%;
    left: 34%;
    font-size: large;
    }
}


@media screen and (min-width: 626px) and (max-width: 800px) {
    .scr1{
    top: 22%;
    left: 34%;
    font-size: medium;
    }
}


@media screen and (min-width: 481px) and (max-width: 625px) {
    .scr1{
    top: 22%;
    left: 34%;
    font-size: x-small;
    }
}


@media screen and (min-width: 351px) and (max-width: 480px) {
    .scr1{
    top: 20%;
    left: 32%;
    font-size: xx-small;
    }
}